* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  a {
    color: white;
    text-decoration: none;
  }
}

:root {
  --color-primary: #043873;
  --color-primary-light: #4f9cf9;
  --color-secondary: #ffe492;
  --color-secondary-light: #a7cefc;
  --color-bg: #ffffff;
  --color-text: #212529;
  --font-sans: "Inter", sistem-ui, sans-serif;
}

/* Mobile */

body {
  font-family: var(--font-sans);
}

header {
  background-color: var(--color-primary);
  padding: 16px 16px;

  nav {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      gap: 7px;

      img {
        width: 24px;
        height: 24px;
      }

      span {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }

  span {
    color: var(--color-bg);
  }
}

main {
  text-align: center;

  .dark-section {
    color: var(--color-bg);
    background-color: var(--color-primary);
    padding: 80px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    .text-block {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .light-section {
    background-color: var(--color-bg);
    padding: 80px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    .text-block {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .img-section {
    width: 100%;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -2%;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -2%;
  }

  p {
    font-size: 18px;
    font-weight: 350;
    line-height: 30px;
    letter-spacing: -2%;
  }
}

.icons-list {
  display: grid;
  justify-items: center;
  gap: 100px;
}

.light-btn {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -2%;
  padding: 20px 40px;
  color: var(--color-bg);
  background-color: var(--color-primary-light);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.light-btn::after {
  content: "arrow_forward";
  font-family: "Material Symbols Outlined";
  font-size: 20px;
}

.price-list {
  text-align: initial;
  color: var(--color-bg);
  background-color: var(--color-primary);
  padding: 20px 20px;
  border-radius: 10px;

  div {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .price {
    font-size: 36px;
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-block: 25px;
  }

  ul > li {
    display: flex;
    align-items: center;
    gap: 19px;
    list-style: none;
    img {
      width: 18px;
      height: 18px;
    }
  }
}

.quote-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 40px;
  border-radius: 10px;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.quote {
  display: grid;
  flex-direction: column;
  gap: 32px;
  border-bottom: 1px solid #212529;
  padding-bottom: 40px;
}

.client {
  display: grid;
  flex-direction: column;
  gap: 24px;

  span {
    font-size: 18px;
    font-weight: bold;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.free-trial {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 40px;

  .app-icon {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 140px 16px 32px 16px;
  background-color: var(--color-primary);

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-bg);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .logo-description {
      display: flex;
      gap: 24px;

      a {
        display: flex;
        align-items: center;
        gap: 7px;

        img {
          width: 37px;
          height: 29px;
        }

        span {
          font-size: 28px;
          font-weight: bold;
        }
      }
    }

    .info-link {
      display: flex;
      gap: 16px;
    }

    .info-trybtn {
      display: flex;
      gap: 23px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  ul > li {
    list-style: none;
    font-weight: 300;
  }

  .language-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    label {
      display: flex;
      align-items: center;
    }

    select {
      border: none;
      outline: none;
      background: transparent;

      color: var(--color-bg);
      font-size: 16px;
      font-family: "Inter";
      font-weight: 200;

      cursor: pointer;

      option {
        color: var(--color-bg);
        background-color: var(--color-primary);
      }
    }
  }

  .terms-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--color-bg);

    nav {
      display: flex;
      gap: 32px;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      border-top: 1px solid #2e4e73;
      width: 100%;
    }
  }
}

/* Desktop */
@media (min-width: 758px) {
}

/* Telas Maiores */
@media (min-width: 1440px) {
}
